@mixin hover-shadow($shadow-color: $color, $border-color: $bcolor, $font-color: $fcolor) {
    border: 1px solid $border-color;
    color: $font-color  !important;
    box-shadow: inset 0 0 0 0 $shadow-color;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-size: 14px;
    font-weight: 500;


    &:hover {
        box-shadow: inset 330px 0 0 0 $shadow-color;
    }
}

//RWD mixins
@mixin min768_max1200 {
    @media(min-width:768px) and (max-width:1200px) {
        @content;
    }
}

@mixin min1200 {
    @media(min-width:1200px) {
        @content;
    }
}

@mixin max768 {
    @media(max-width:768px) {
        @content;
    }
}

@mixin max500 {
    @media(max-width:500px) {
        @content;
    }
}

@mixin min992 {
    @media(min-width:992px) {
        @content;
    }
}